---
layout: default
title: Archives
---

<div id="blog-archives">

	{% for post in site.posts %}
		<article class="post">
			<h1>
        <a href="{{ post.url }}">{{ post.title }}</a>
        <span class="post-datetime">
          Posted On: <time datetime="{{ post.date }}">{{ post.date | date: "%B %d, %Y @ %I:%M %p" }}</time>
        </span>
      </h1>
		</article>
	{% endfor %}

</div>
