{% if page.comments %}
<div class="cont">
  <div id="disqus_thread"></div>
  <script type="text/javascript">
      /* * * CONFIGURATION VARIABLES * * */
      var disqus_shortname = 'korkey';

      /* * * DON'T EDIT BELOW THIS LINE * * */
      (function() {
          var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
          dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
          (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
      })();
  </script>
  <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
</div>
{% endif %}

<footer class="site-footer">

  <div class="cont">

  <div class="footer-col">
  <ul class="contact-list">
    <li>&copy; {{ 'now' | date :'%Y' }} {{ site.title }}</li>
    <li><a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
  </ul>
  </div>

  <div class="footer-col">
  <ul class="social-media-list">
    {% if site.github_username %}
    <li>
    <a href="https://github.com/{{ site.github_username }}">
      <span class="fa fa-github"></span>
    </a>
    </li>
    {% endif %}

    {% if site.twitter_username %}
    <li>
    <a href="https://twitter.com/{{ site.twitter_username }}">
      <span class="fa fa-twitter"></span>
    </a>
    </li>
    {% endif %}
  </ul>
  </div>

  <div class="footer-col">
    <ul class="contact-list">
      <li>{{ site.tagline }}</li>
      <li>{{ site.tagline_strength }}</li>
    </ul>
  </div>

  </div>

</footer>
<script>
    (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
    function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
    e=o.createElement(i);r=o.getElementsByTagName(i)[0];
    e.src='https://www.google-analytics.com/analytics.js';
    r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
    ga('create','UA-37840664-2','auto');ga('send','pageview');
</script>