.me-pic {
  @include transition(box-shadow, 0.5s, ease);
  max-width: 160px;

  @include extended-box-shadow(2, -1px 1px 1px $highlight-color);

  &:hover {
    @include extended-box-shadow(15, -1px 1px 1px $highlight-color);
  }
}