body {
  font-family: $base-font-family;
  font-size: $base-font-size - 2;
  line-height: $base-line-height;
  font-weight: 300;
  color: $text-color;
  background-color: $background-color;
  text-shadow: 0 1px 1px rgba(black, 1);
  -webkit-text-size-adjust: 100%;

  @include query($small) {
    font-size: $base-font-size;
  }
}

::-moz-selection { background: $selection-color; text-shadow: none; }
::selection { background: $selection-color; text-shadow: none; }

a {
  @include transition(color, 0.3s, ease);
  color: $shade-alt;
  text-decoration: none;

  &:visited {
    font-style: italic;
  }

  &:hover {
    color: $shade;
  }
}

.cont {
  max-width: $site-max-width;
  margin-right: auto;
  margin-left: auto;
  padding-right: $padding;
  padding-left: $padding;
  @extend %clearfix;

  @include query($small) {
    padding-right: $padding / 2;
    padding-left: $padding / 2;
  }
}

.icon {

  > svg {
    display: inline-block;
    width: 16px;
    height: 16px;
    vertical-align: middle;

    path {
      fill: $shade;
    }
  }
}
