$large: 760px;
$medium: 640px;
$small: 480px;
$iphone: 360px;

// Site Vars
$padding: 1.3em;

$base-font-family: Open Sans, Helvetica, sans-serif;
$base-font-size:   16px;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$site-max-width: $large;
$content-max-width: $medium;

// Syntax Highlight
$base03:    #002b36;
$base02:    #073642;
$base01:    #586e75;
$base00:    #657b83;
$base0:     #839496;
$base1:     #93a1a1;
$base2:     #eee8d5;
$base3:     #fdf6e3;
$yellow:    #b58900;
$orange:    #cb4b16;
$red:       #dc322f;
$magenta:   #d33682;
$violet:    #6c71c4;
$blue:      #268bd2;
$cyan:      #2aa198;
$green:     #859900;

/*
  Solarized Dark
 */
$text-color: $base1 !default;
$background-color: $base03 !default;
$highlight-color: $orange !default;
$selection-color: $base0 !default;
$shade: $cyan !default;
$shade-alt: $blue !default;
$code-bg: darken($base03, 1%) !default;
$code-shade1: $base1 !default;
$code-shade2: $base01 !default;
$highlight1: $yellow !default;
$highlight2: $red !default;
$highlight3: $blue !default;
$highlight4: $cyan !default;
$highlight5: $green !default;

/*
  Set the theme here manually (Will be overwridden if responds-to-time is true)
 */
$responds-to-time: true;
$light-site-scheme: false;
$light-code-scheme: false;
// $light-site-scheme: true;
// $light-code-scheme: true;

@if $light-site-scheme {

  /*
    Solarized Light
  */

  $text-color:       $base0;
  $selection-color: $base1;
  $background-color: $base3;
  $highlight-color:  $cyan;

  $shade: $yellow;
  $shade-alt: $green;

}

@if $light-code-scheme {

  /*
    Solarized Light
  */

  $code-bg: darken($base3, 3%);
  $code-shade1: $base00;
  $code-shade2: $base02;
  $highlight1: $yellow;
  $highlight2: $red;
  $highlight3: $blue;
  $highlight4: $cyan;
  $highlight5: $green;

}