.page-content {
  padding: $padding 0;
}

.page-heading {
  font-size: 20px;
}

.post-list {
  margin-left: 0;
  list-style: none;

  > li {
    margin-bottom: $padding;
  }
}

.post-meta {
  font-size: $small-font-size;
  color: $shade;
}

.post-link {
  display: block;
  font-size: 24px;
}

.post-header {
  padding-bottom: $padding/2;
  margin-bottom: $padding/2;
  border-bottom: 1px solid $shade-alt;
}

.header-meta {
  font-size: 0.7em;
}

.reading-time {
  display: block;
}

.post-title, .page-title {
  font-size: 36px;
  letter-spacing: -1px;
  line-height: 1;

  @include query($small) {
    font-size: 42px;
  }
}

.post {
  @extend %center;
  max-width: $content-max-width;
}

.post-excerpt {
  @extend .post;
  max-width: $content-max-width - 16;

  h1 {
    @extend %site-transition;
    color: $shade-alt;
    font-weight: 400;
    margin-bottom: 0.3em;
  }

  a {
    display: block;
    padding: 1em;
    color: $text-color;

    &:hover, &:focus {
      box-shadow: inset 0 1px 10px rgba(black, .4);
      background: rgba(black, .2);

      h1 {
        color: $shade;
      }
    }
  }
}

.post-content {
  margin-bottom: $padding;

  h2 {
    font-size: 28px;

    @include query($small) {
      font-size: 32px;
    }
  }

  h3 {
    font-size: 22px;

    @include query($small) {
      font-size: 26px;
    }
  }

  h4 {
    font-size: 18px;

    @include query($small) {
      font-size: 20px;
    }
  }
}

.post-datetime {
  display: block;
  font-size: $small-font-size;
}