.site-footer {
  @extend %site-transition;
  border-top: 1px solid $shade;
  border-bottom: 5px solid $shade;
  padding: $padding 0;

  &:hover {
    border-color: $shade-alt;

    .fa, .contact-list a {
      color: $shade-alt;
    }
  }
}

.footer-heading {
  font-size: 18px;
  margin-bottom: $padding / 2;
}

.contact-list,
.social-media-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.contact-list a {
  @extend %site-transition;
  color: $shade;
  &:hover, &:focus {
    color: $shade !important;
  }
}

.social-media-list {

  li {
    display: inline-block;
    margin: 0 0.5em;

    @include query($small) {
      margin: 0 $padding;
    }
  }

  .fa {
    @extend %site-transition;
    font-size: 3em;
    color: $shade;
    &:hover, &:focus {
      color: $shade !important;
    }
  }
}

.footer-col-wrapper {
  font-size: 15px;
  color: $shade;
  margin-left: -$padding / 2;
  @extend %clearfix;
}

.footer-col {
  text-align: center;
  width: 50%;
  float: left;

  @include query-max($small) {
    &:last-of-type:nth-child(odd) {
      margin-top: $padding;
      width: 100%;
    }
  }

  @include query($small) {
    width: 33%;

    &:first-of-type {
      text-align: left;
    }

    &:last-of-type {
      text-align: right;
    }
  }
}