.site-header {
  border-top: 5px solid $shade;
  border-bottom: 1px solid $shade;
  min-height: 56px;

  // Positioning context for the mobile navigation icon
  position: relative;

  &:hover {
    border-color: $shade-alt;

    .site-title, .site-nav .page-link {
      color: $shade-alt;
    }
  }
}

.site-header, .site-title, .site-nav .page-link {
  @extend %site-transition;
}

.site-title, .site-nav .page-link {
  &:hover, &:focus {
    color: $shade !important;
  }
}

.site-title {
  font-size: 26px;
  line-height: 56px;
  letter-spacing: -1px;
  margin-bottom: 0;
  float: left;
  color: $shade;
}

.site-nav {
  float: right;
  line-height: 56px;

  .menu-icon {
    display: none;
  }

  .page-link {
    color: $shade;
    line-height: $base-line-height;

    // Gaps between nav items, but not on the first one
    &:not(:first-child) {
      margin-left: 20px;
    }
  }

  @include query-max($small) {
    position: absolute;
    top: 9px;
    right: 30px;
    background-color: $background-color;
    border: 1px solid $shade;
    border-radius: 5px;
    text-align: right;

    .menu-icon {
      display: block;
      float: right;
      width: 36px;
      height: 26px;
      line-height: 0;
      padding-top: 10px;
      text-align: center;

      > svg {
        width: 18px;
        height: 15px;

        path {
          fill: $shade;
        }
      }
    }

    .trigger {
      clear: both;
      display: none;
    }

    &:hover .trigger {
      display: block;
      padding-bottom: 5px;
    }

    .page-link {
      display: block;
      padding: 5px 10px;
    }
  }
}