// Media Queries
@mixin query($point) {
  @media (min-width: $point) { @content; }
}

@mixin query-max($point) {
  @media (max-width: $point) { @content; }
}

@mixin res-query($res) {
  @if $res == normalres {
    @media (-webkit-min-device-pixel-ratio: 1),
    (min-resolution: 72dpi)
    {
      @content;
    }
  }
  @else if $res == hires {
    @media (-webkit-min-device-pixel-ratio: 1.25),
    (min-resolution: 120dpi)
    {
      @content;
    }
  }
  @else if $res == retina {
    @media (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi)
    {
      @content;
    }
  }
}

// Helper Classes
.full-width {width: 100%;}

.clear {clear: both;}

%center {display: block; margin-left: auto; margin-right: auto;}

.inline-block { display: inline-block; }
.inline { display: inline; }

.hide {display: none;}

@mixin col($width, $float:'', $padding: $padding $padding - .1em) {
  @include clearfix;
  @if $float {
    float:$float;
  }
  padding: $padding;
  width: percentage($width); // Use a decimal for percentage (ie 0.2 for 20%)
}

@for $i from 1 through 12 {
  .col-#{$i} {
    width: percentage(.1 * $i);
  }
}

.screen-reader-text, %screen-reader-text {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;

  &:active, &:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
  }
}

%cf, %clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

$image-alignment-margin: $padding;

.alignleft, .aligncenter, .alignright, .thumb-frame {
  float: none;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

@include query($small) {

  .alignleft {
    float: left;
    margin: 0 $image-alignment-margin $image-alignment-margin 0;
  }

  .alignright {
    float: right;
    margin: 0 0 $image-alignment-margin $image-alignment-margin;
  }

  .aligncenter {
    display: block;
    margin: $image-alignment-margin auto;
  }

}

%site-transition {
  @include transition(all, 0.3s, ease);
}

@mixin extended-box-shadow($levels: 5, $base-box-shadow: -1px 1px 0 rgba($highlight-color, .1)) {

  $base-left-unit: nth($base-box-shadow, 1);
  $base-bottom-unit: nth($base-box-shadow, 2);
  $blur: nth($base-box-shadow, 3);
  $shadow-color: nth($base-box-shadow, 4);

  // Blank shadow so it compiles right
  $shadow-stuffs: 0 0 0 transparent;

  @for $i from 1 through $levels {
    $left-unit: $i * $base-left-unit;
    $bottom-unit: $i * $base-bottom-unit;

    $shadow-stuffs: $shadow-stuffs, $left-unit $bottom-unit $blur $shadow-color;
  }

  box-shadow: $shadow-stuffs;
}