/**
 * Syntax highlighting styles
 */

p > code {
  word-wrap: break-word;
  font-size: 0.9rem;
  padding: 3px 5px 2px;
  color: $code-shade1;
  border-radius: 3px;
  background-color: $code-bg;
  box-shadow: 0 1px 1px rgba(white, .2), inset 0 1px 10px rgba(black, .7);

  @include query($small) {
    padding: 4px 5px 3px;
  }
}

.note {
  @extend %vertical-rhythm;
  font-size: 1.4rem;
  padding: 0.5em 1em;
  background-color: $code-bg;
  box-shadow: 0 1px 1px rgba(white, .2), inset 0 1px 10px rgba(black, .7);

  &:before {
    content: 'Note: ';
    color: $shade;
    display: block;
    font-size: 1.1em;
  }

  &.warning {
    background-color: darken($orange, 32%);

    &:before {
      content: 'Warning: ';
      color: $red;
    }
  }
}

.highlight {
  @extend %vertical-rhythm;
  margin: 1em 0 2em;
  font-size: 0.9rem;
  background-color: $code-bg;
  color: $code-shade1;
  border-radius: 3px;
  box-shadow: 0 1px 1px rgba(white, .2), inset 0 1px 10px rgba(black, .7);

  .c    { color: $code-shade2; }
  .err  { color: $code-shade1; }
  .g    { color: $code-shade1; }
  .k    { color: $highlight5; }
  .l    { color: $code-shade1; }
  .n    { color: $code-shade1; }
  .o    { color: $highlight5; }
  .x    { color: $highlight1; }
  .p    { color: $code-shade1; }
  .cm   { color: $code-shade2; }
  .cp   { color: $highlight5; }
  .c1   { color: $code-shade2; }
  .cs   { color: $highlight5; }
  .gd   { color: $highlight4; }
  .ge   { color: $code-shade1; font-weight: italic;}
  .gr   { color: $highlight2; }
  .gh   { color: $highlight1; }
  .gi   { color: $highlight5; }
  .go   { color: $code-shade1; }
  .gp   { color: $code-shade1; }
  .gs   { color: $code-shade1; font-weight: italic;}
  .gu   { color: $highlight1; }
  .gt   { color: $code-shade1; }
  .kc   { color: $highlight1; }
  .kd   { color: $highlight3; }
  .kn   { color: $highlight5; }
  .kp   { color: $highlight5; }
  .kr   { color: $highlight3; }
  .kt   { color: $highlight2; }
  .ld   { color: $code-shade1; }
  .m    { color: $highlight4; }
  .s    { color: $highlight4; }
  .na   { color: $code-shade1; }
  .nb   { color: $code-shade1; }
  .nc   { color: $highlight3; }
  .no   { color: $highlight1; }
  .nd   { color: $highlight3; }
  .ni   { color: $highlight1; }
  .ne   { color: $highlight1; }
  .nf   { color: $highlight3; }
  .nl   { color: $code-shade1; }
  .nn   { color: $code-shade1; }
  .nx   { color: $code-shade1; }
  .py   { color: $code-shade1; }
  .nt   { color: $highlight3; }
  .nv   { color: $highlight3; }
  .ow   { color: $highlight5; }
  .w    { color: $code-shade1; }
  .mf   { color: $highlight4; }
  .mh   { color: $highlight4; }
  .mi   { color: $highlight4; }
  .mo   { color: $highlight4; }
  .sb   { color: $code-shade2; }
  .sc   { color: $highlight4; }
  .sd   { color: $code-shade1; }
  .s2   { color: $highlight4; }
  .se   { color: $highlight1; }
  .sh   { color: $code-shade1; }
  .si   { color: $highlight4; }
  .sx   { color: $highlight4; }
  .sr   { color: $highlight2; }
  .s1   { color: $highlight4; }
  .ss   { color: $highlight4; }
  .bp   { color: $highlight3; }
  .vc   { color: $highlight3; }
  .vg   { color: $highlight3; }
  .vi   { color: $highlight3; }
  .il   { color: $highlight4; }

}