<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

  {% include header.html %}

   <div class="page-content">
     <div class="cont">
       {{ content }}
     </div>
   </div>

   {% include footer.html %}

  </body>

  <script type="text/javascript" src="{{ "/js/main.js" | prepend: site.baseurl }}"></script>

</html>
