---
layout: default
---
<div class="page">

  <header class="page-header">
    <h1 class="page-title {{ page.permalink | remove: "/" }}">{{ page.title }}</h1>
  </header>

  <article class="page-content">
    {{ content }}
  </article>

</div>
