---
layout: default
---
<article class="post">

	<h1 class="post-header">
    <a href="{{ page.url }}">{{ page.title }}</a>
    <div class="header-meta">
      Posted On: <span class="postdate">{{ page.date | date: "%b %d, %Y" }}</span>
    </div>
  </h1>

	<div class="post-content">{{ content }}</div>

</article>